include assets/head

block content
  div(style='display:none; left:-1000px; top:-1000px position:fixed;'
      data-anonymous= user.anonymous
      data-session= user.session)
  include assets/header

  preload(data-service='client')
  overlays
    include assets/getupdates
    .loader-overlay
      .loader-o-content
        .loader-o-loader.loader
        .loader-o-text Hack On.
  content
    include assets/nojs
  include assets/footer
