include assets/head

block content
  include assets/header

  preload(data-service='client')
  overlays
    include assets/getupdates
    .loader-overlay
      .loader-o-content
        .loader-o-loader.loader
        .loader-o-text Hack On.
  content
    .center.nojs
      h1 HackMerced 2016
      h5 Welcome to the JS-less HackMerced website!
      p.
        Thanks for visiting HackMerced's website, we had a great 2016 competition
        and we're gearing up for more. Just scroll below for more info on HackMerced 2017
      h5 What is HackMerced?
      p.
        HackMerced is the California Central Valley's premier Hackathon, founded in 2016 we
        set off on a journey to host an amazing event for 300 lucky attendees.
      p.
        Check out last year's photos on the <a href='https://www.facebook.com/hackmerced/photos/?tab=album&album_id=1088299527882708'>Facebook</a> (Requires JS)
      h5 How do I apply?
      p.
        We're currently not accepting applications (We'll open sometime in the winter) - until then
        feel free to join our <a href='http://eepurl.com/ccnolr'>mailing list</a>. (Via Mailchimp)
      h5 Can I volunteer/help organize?
      p.
       Yes you can! We're currently accepting applications for both <a href='https://goo.gl/forms/0UmLRZksWuWixLe12'>volunteers</a> and
       <a href='https://docs.google.com/forms/d/e/1FAIpQLSc-APSXEs63NpKFj4ydvT1zbO82WmViXIMogbk8VJaYCHIazQ/viewform'>organizers</a>! (Google Link)
      h5 Anything else?
      p.
        Come talk with us <a href='http://m.me/hackmerced'>on Facebook</a> or send us an email at <a href='mailto:hello@hackmerced.com'>hello@hackmerced.com</a>
  include assets/footer
