include assets/head

block content
  div(id='userdat' style='display:none; left:-1000px; top:-1000px position:fixed;'
      data-anonymous= user.anonymous
      data-session= user.session
      data-filestack= keys.filestack_api_key)
  include assets/header

  preload(data-service='client')
  overlays
    .error-container
    include assets/getupdates
    .loader-overlay
      .loader-o-content
        .loader-o-loader.loader
        .loader-o-text Hack On.
  content
    include assets/nojs
  include assets/footer
