.get-updates
  .get-updates-underlay
  .center
    .gu-exit
      .gue-exit Exit
      .gue-exit-button.fa.fa-remove
    .gu-content
      h1 Get Updates
      h4 We’ll tell you when we start and a few cool things along the way.
      form#mc-embedded-subscribe-form.validate(action='//hackmerced.us13.list-manage.com/subscribe/post?u=8f3037f7392a637a890d8a666&id=d1bfe13cb6', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        label Email Address
        input#mce-EMAIL.required.email(type='email', placeholder='pupper@dog.com', value='', name='EMAIL')
        div(style='position: absolute; left: -5000px;', aria-hidden='true')
          input(type='text', name='b_8f3037f7392a637a890d8a666_d1bfe13cb6', tabindex='-1', value='')
        .clear
          input#mc-embedded-subscribe.darkblue.button(type='submit', value='Subscribe', name='subscribe')
