doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" type="image/png" href="/img/hackathon_brand/favicon.png")
        title= title || 'Hack for the Future | HackMerced'
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + keys.google_maps_javascript_key + "&libraries=places")
        script(type="text/javascript" src="//api.filestackapi.com/filestack.js")
        -if(status === 'development'){
          script(src='/js/client.js', type='text/javascript')
          link(href='/css/client.css', rel='stylesheet', type='text/css')
        -} else {
          link(href='/css/client.min.css', rel='stylesheet', type='text/css')
          script(src='/js/client.min.js?version=1.0', type='text/javascript')
        -}
    body
block content
