header
  .center
    .logo.withText.isLeft.load(goto='')
    nav.isLeft
      //a.load(data-goto='volunteer') Discover
      //a.load(data-goto='contact') Travel
      a.load(data-goto='volunteer' data-icon='group')
        span.mobicon.fa.fa-group
        span Volunteer
      a.load(data-goto='sponsor' data-icon='money')
        span.mobicon.fa.fa-money
        span Sponsor
      a.load(data-goto='contact' data-icon='phone')
        span.mobicon.fa.fa-phone
        span Contact
    nav.isRight#applyNow
      a.load(data-goto='apply') Apply Now
    .clear
