header
  .center
    .logo.withText.isLeft.load(goto='')
    nav.isLeft
      a.lead-with-us.load(data-goto='join-our-team') Join Our Team
      a.load(data-goto='volunteer') Volunteer
      a(target="_blank" href='http://m.me/hackmerced') Contact
      a.getUpdates Get Updates
    nav.isRight
      a.getUpdates Get Updates
    .clear
