-description = "HackMerced is UC Merced's 36-hour hackathon from Feburary 10 - 12! All students are invited to participate!"

meta(name='description', content= description)
meta(itemprop='name', content='HackMerced')

meta(itemprop='description', content= description)

meta(itemprop='image', content='https://s3-us-west-1.amazonaws.com/hackmerced/seo/large.png')

meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@hackmerced')
meta(name='twitter:title', content='HackMerced')
meta(name='twitter:description', content= description)
meta(name='twitter:creator', content='@hackmerced')
meta(name='twitter:image:src', content='https://s3-us-west-1.amazonaws.com/hackmerced/seo/small.png')

meta(property='og:title', content='HackMerced')
meta(property='og:type', content='website')
meta(property='og:url', content='https://hackmerced.com/')
meta(property='og:image', content='https://s3-us-west-1.amazonaws.com/hackmerced/seo/large.png?version=2')
meta(property='og:description', content= description)
meta(property='og:site_name', content='hackmerced')
