$background-color: #fff;

$header-font: "League Spartan", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$header-color-default: #333333;

$body-font: "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-font-size: 16px;
$body-color-default: #333333;
$body-line-height: 1.8

// colors
$blue: #232648;
$yellow: #E5DE7A;

// typing colors
$font-grey: #8C8C8C;
