// import fonts
 @import 'https://fonts.googleapis.com/css?family=Roboto';

// default variables
$background-color: #fff;
$desktop-width: 1200px;

// define fonts
$additional-fonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
// Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$league-font: "League Spartan";
$roboto-font: "Roboto";

// header settings
$header-font: $league-font, $additional-fonts;
$header-color-default: #333333;

// body settings
$body-font: $additional-fonts;
$body-font-size: 16px;
$body-color-default: #333333;
$body-line-height: 1.8;

// footer settings
$footer-font: $header-font;

// colors
$darkblue: #232648;
$blue: #364B91;
$lightblue: #73C5FF;
$yellow: #E5DE7A;
$red: #bf2d2d;
$hiYellow: #E9B201; // for high contrast environments

$black: #090909; // True black sucks
$white: #fff; // don't change

// typing colors
$font-grey: #8C8C8C;
$gray: #999999;
$grey: $gray;

@mixin useLeague(){
  font-family: $footer-font;
  font-weight: bold;
}

@mixin useNormal(){
  font-family: $body-font;
  font-weight: inherit;
}


@mixin makeObjectYellow(){
  color:$black;
  background-color: $yellow;
}

@mixin makeObjectWhite(){
  color:$black;
  background-color: $white;
}

@mixin makeObjectRed(){
  color:$white;
  background-color: $red;
}


@mixin makeObjectHiYellow(){
  color:$white;
  background-color: $hiYellow;
}



@mixin makeObjectBlack(){
  color:$white;
  background-color: $black;
}

@mixin makeObjectDarkBlue(){
  color:$white;
  background-color: $darkblue;
}

@mixin makeObjectBlue(){
  color:$white;
  background-color: $blue;
}

@mixin makeObjectLightBlue(){
  color:$white;
  background-color: $lightblue;
}


@mixin colorObjects(){
  &.darkblue{
    @include makeObjectDarkBlue();
  }

  &.blue{
    @include makeObjectBlue();
  }

  &.lightblue{
    @include makeObjectLightBlue();
  }

  &.yellow{
    @include makeObjectYellow();
  }

  &.hiYellow{
    @include makeObjectHiYellow();
  }

  &.black{
    @include makeObjectBlack();
  }

  &.white{
    @include makeObjectWhite();
  }

  &.red{
    @include makeObjectRed();
  }
}

@mixin objectSizing(){
  &.isHalf{
    width: 50%;
  }

  &.isFull{
    width: 100%;
  }

  &.is66{
    width: 66.66%;
  }

  &.is33{
    width: 33.33%;
  }

  &.isThird{
    width: 375px;
  }

  &.isTotal{
      height: auto;
  }

  &.is812{
    width: 812px;
  }

  &.is785{

    width:calc(100% - 375px);
  }

  &.is345{
    width: 345px;
  }

}

@mixin colorOverrides(){
  &.ToWhiteText{
    color: #fff;
  }


}

@mixin overrides(){
  &.override {
    @include colorOverrides();
  }
}

// if anything has this, do this
.isLeft{
  float: left;
}

.isRight{
  float: right;
}

.allCaps{
  text-transform: uppercase;
}
