/*
  We don't use bootstrap. Stop asking.
*/

// define body
body, html{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: $body-font;
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: $body-color-default;
    background-color: $background-color;
}

// set colors
h1, h2, h3, h4, h5, h6, p, text{
  &.white{
    color: $white;
  }

  &.darkblue{
    color: $darkblue;
  }

  &.blue{
    color: $blue;
  }

  &.lightblue{
    color: $lightblue;
  }

  &.yellow{
    color: $yellow;
  }

  &.hiYellow{
    color:$hiYellow;
  }

  &.black{
    color: $black;
  }

  &.bold{
    font-weight: 600;
  }
}

// heading styles
h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: $header-font;
  color: $header-color-default;
  font-weight: bold;
  line-height: 1.4;
}

h1{
  font-size: 64px;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 36px;
}

h4{
  font-size: 30px;
}

h5{
  font-size: 21px;
}

h6{
  color: $font-grey;
  font-size: 18px;

  &.infobox{
    background: $black;
    color: $white;

    display: inline-block;
    padding: 3px 20px 0px;
    line-height: 50px;
    box-sizing: border-box;
    height: 50px;
  }
}


// anchor tag destyling
a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;

}

// clear is great
.clear{
  clear: both;
}

// center content
.center{
  margin: 0 auto;
  position: relative;
  padding: 0px 60px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

.isCentered{
  text-align:center;
}

// button styling/destyling

button{
  border: 0px;
  padding: 0px;
  display: block;
  border-radius: 2px;
  cursor: pointer;

  // extends the font
  @extend h5;

  color: $black;
  background-color: $white;

  @include colorObjects();
  @include overrides();

  &.text-center{
    text-align: center;
  }

  &.normal{
    font-size: 16px;
    padding: 20px;
    min-width: 240px;
    margin: 40px 0px;
  }



}

button:hover, a:hover, a.noline:hover{
  text-decoration: none;
}

input[type='submit']{
  @extend button;
}


//label and inputs
form{
  margin: 40px 0px;

}

label{
  display: block;
  font-size: 18px;
  color: inherit;
  margin-bottom: 10px;
}


// input
input, textarea{
  max-width: 760px;
  width: 100%;
  padding: 15px 22px;
  height: auto;
  border-radius: 2px;
  font-size: 18px;
  border: 0px;

  box-sizing: border-box;
  box-shadow: none;
  line-height: 2;

  &.onWhite{
    background: #F4F4F4;
  }
}

textarea{
  resize: none;
  padding: 22px 22px;
  height: 300px;
}

.form-block{
  margin-bottom: 30px;
}




// paragraphs and subtext
p {
  max-width: 600px;
  line-height: 2;
  margin: 20px 0px;

  a {
    color: $blue;
  }

  a:hover{
    text-decoration: underline;
  }

  &.withTitle{
    margin-top: 0px;
  }
}

.text-block{
  margin: 20px 0px;

 p {
   margin: 0px;
 }
}

// logo
.logo{
  width: 36px;
  height: 36px;
  cursor: pointer;

  background-image: url("/img/hackathon_brand/transparent_logo_by_normal.png");
  background-size: auto 100%;
  background-repeat: no-repeat;

  &.withText{
    width: 236px;
    position: relative;
  }

  &.withText::after{
    @extend h4;

    content: "HackMerced";
    margin-left: 10px;
    left: 36px;
    position: absolute;
    height: 36px;
    line-height: 53px;
  }
}


// loaders

@mixin loader($color, $size, $thickness){
  border-radius: 50%;
  width: $size;
  height: $size;
  border: $thickness solid rgba($color, 0.2);
  border-top-color: $color;
  animation: spin 1s infinite linear;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



// loader actuals

.loader-overlay{
  z-index: 99;
  position: fixed;
  bottom:0px;
  width: 100%;
  display: none;
  height: 100%;

}

.loader-o-content{
    margin: 300px 0px 0px;
    text-align: center;
}

.loader-o-loader{
  margin: 0 auto;
  @include loader($blue, 60px, 5px);
}
.loader-o-text{
  margin-top: 20px;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 1px;
  color: $blue;
}


// others

.hidden-content{
  display:none;
}

.transparent-content{
  opacity: 0;
}

// page styles

.list-title{
  font-weight: 600;
}

li {
  margin: 0px 45px;
  line-height: 2;
}


// load style
a.load{
  position: relative;
  width: auto;
}

a.load::after{
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  background: $black;
  width: 0;
  border-radius: 4px;

  -webkit-transition: width 500ms;
  transition: width 500ms;

}

a.load.selected::after, a.load:hover::after{
  width: 100%;
}




// make it compatible with iphones
input {
    -webkit-appearance: none;
}

// make it compatible with chrome
*:hover{
  text-decoration: none;
}

*:focus{
  text-decoration: none;
  outline: none;
}


// c3 modifications

.c3-tooltip-container{
  table{
    background: $white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    padding: 10px;

    tr{
      td:nth-child(1){
        padding-right: 20px;
      }
    }
  }


}

// flashing character
.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% { opacity: 0.0; }
}

@mixin whiteHeader(){
  color: #fff;

  .logo{
    background-image: url("/img/hackathon_brand/transparent_logo_white_by_normal.png");

    &.withText::after{
      color: #fff;
    }
  }
  nav a{
    color: #fff;

    &::after{
      background: #fff;
    }
  }
}

// dark theme
// body
body.dark{

  header{
    @include whiteHeader();

    z-index: 10;
    color: $white;
  }

  p{
    color: #534E5F;
  }

  footer{
    color: $white;
  }
}
