/*
  We don't use bootstrap. Stop asking.
*/

// define body
body, html{
    margin: 0px;
    padding: 0px;
    font-family: $body-font;
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: $body-color-default;
    background-color: $background-color;
}

// set colors
h1, h2, h3, h4, h5, h6, p, text{
  &.white{
    color: $white;
  }

  &.darkblue{
    color: $darkblue;
  }

  &.blue{
    color: $blue;
  }

  &.lightblue{
    color: $lightblue;
  }

  &.yellow{
    color: $yellow;
  }

  &.black{
    color: $black;
  }
}

// heading styles
h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: $header-font;
  color: $header-color-default;
  font-weight: bold;
  line-height: 1.4;
}

h1{
  font-size: 64px;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 36px;
}

h4{
  font-size: 30px;
}

h5{
  font-size: 21px;
}

h6{
  color: $font-grey;
  font-size: 18px;
}


// anchor tag destyling
a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;

}

// clear is great
.clear{
  clear: both;
}

// center content
.center{
  margin: 0 auto;
  position: relative;
  padding: 0px 60px;
  max-width: 1440px;
  min-width: calc(1200px + 60px);
  box-sizing: border-box;
}

.isCentered{
  text-align:center;
}

// button styling/destyling

button{
  border: 0px;
  padding: 0px;
  display: block;
  border-radius: 2px;
  cursor: pointer;

  // extends the font
  @extend h5;

  color: $black;
  background-color: $white;

  @include colorObjects();

  &.text-center{
    text-align: center;
  }

  &.normal{
    font-size: 16px;
    padding: 20px;
    min-width: 240px;
    margin: 40px 0px;
  }


}

input[type='submit']{
  @extend button;
}


//label

label{
  display: block;
  font-size: 18px;
  color: #FFFFFF;
}


// input
input{
  width: 600px;
  padding: 0px 22px;
  height: auto;
  border-radius: 2px;
  font-size: 18px;
  border: 0px;
  box-sizing: border-box;
  box-shadow: none;
  line-height: 68px;
}

// paragraphs and subtext
p {
  max-width: 600px;
  margin: 20px 0px;

  a {
    color: $blue;
  }

  a:hover{
    text-decoration: underline;
  }

  &.withTitle{
    margin-top: 0px;
  }
}

.text-block{
  margin: 20px 0px;

 p {
   margin: 0px;
 }
}

// logo
.logo{
  width: 36px;
  height: 36px;
  cursor: pointer;

  background-image: url("/img/hackathon_brand/transparent_logo_by_normal.png");
  background-size: auto 100%;
  background-repeat: no-repeat;

  &.withText{
    width: 236px;
    position: relative;
  }

  &.withText::after{
    @extend h4;

    content: "HackMerced";
    margin-left: 10px;
    left: 36px;
    position: absolute;
    height: 36px;
    line-height: 53px;
  }
}


// loaders

@mixin loader($color, $size, $thickness){
  border-radius: 50%;
  width: $size;
  height: $size;
  border: $thickness solid rgba($color, 0.2);
  border-top-color: $color;
  animation: spin 1s infinite linear;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


// loader actuals

.loader-overlay{
  z-index: 99;
  position: fixed;
  bottom:0px;
  width: 100%;
  display: none;
  height: 100%;

}

.loader-o-content{
    margin: 300px 0px 0px;
    text-align: center;
}

.loader-o-loader{
  margin: 0 auto;
  @include loader($blue, 60px, 5px);
}
.loader-o-text{
  margin-top: 20px;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 1px;
  color: $blue;
}


// others

.hidden-content{
  display:none;
}

.transparent-content{
  opacity: 0;
}

// page styles

.list-title{
  font-weight: 600;
}

li {
  margin: 0px 45px;
  line-height: 2;
}


// load style
a.load{
  position: relative;
}

a.load::after{
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: $black;
  width: 0;
  border-radius: 4px;
  transition: width 500ms;
}

a.load.selected::after, a.load:hover::after{
  width: 100%;
}
