.apply-holder{
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 5;
  height: 1000px;
}

.apply-time-sections{
  background: #F7F7F7;
  border-radius: 5px;
  display: flex;
  margin: 50px 0px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.apply-completecount{
  font-size: 12px;
  color: #979797;
}

.apply-time-section{
  text-align: center;
  width: 25%;
  padding: 20px;
  min-width: 200px;
  box-sizing: border-box;
  color: #999999;
  cursor: pointer;

  &.selected{
    color:$darkblue;
  }
}

.apply-time-section:hover:not(.selected){
  transition: color 500ms ease-in;
  color: $blue;
}

.pac-matched{
  font-weight: 500 !important;
  background: #F8E81C !important;
}

.pac-item{
  font-family: $additional-fonts !important;
  padding: 10px 15px;
  cursor: pointer;
  margin: 15px 0px;
  border: 0px;

  font-size: 15px;

  .pac-item-query{
    font-size: 15px;
  }

  &:hover{
  background: #F5F5F5 !important;

  }
}




.pac-container{
  border: 0px;
  margin-top: 17px;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0,0,0,.1);
}

.pac-logo::after{
  padding: 10px !important;;
  border-top: 1px solid #e6e6e6 !important;
  background-position: center;
}

.apply-form{
  display: block;
  position: relative;
}

form.apply-form{
  label{
      /* Give us your email!: */
    font-weight: 600;
    font-size: 18px;
    color: #232648;
    margin: 0px;
    width: calc(100% - 85px);
    letter-spacing: 0;
  }

  .apply-description{
    font-size: 16px;
    color: #767676;
    letter-spacing: 0;
    margin-bottom: 12px;
  }

  input{
    line-height: 2;
    padding: 0px 20px;
    background: #FFFFFF;
    font-size: 16px;
    max-width: 500px;
    height: 65px;
    border: 1px solid #DCDCDC;
    border-radius: 2px;

    &.small{
      width: 100px;
      text-align: center;
    }
  }


  button{
    @include makeObjectDarkBlue();
    @include useNormal();

    font-weight: 400;
    font-size: 18px;

    padding: 20px 40px;
    box-sizing: border-box;

    &.fp__btn{
      height: 65px;
      border-radius: 5px;
      line-height: 65px;
      padding: 0px;
      width: 200px;
      background-position: 15px center;

      &::after{
        top: 32px;
      }
    }
  }

  .apply-btn-bottom{
    margin-top: 40px;
  }
  .apply-block{
    background-color: #F7F7F7;
    max-width: 600px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
  }


  .apply-item{
    margin: 50px 0px;
    max-width: 600px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;


    &.hidden{
      display: none;
    }


    &.apply-item-errored{
      border: 2px solid #fec4c4;
    }



    &.required::after{
      content: "Required";
      position: absolute;
      top: 34px;
      background: #f9ff00;
      padding: 2px 10px;
      right: 20px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 2px;
    }


  }

  .apply-section-GettingToKnowYou{

    .apply-btn-bottom{
        margin: 0px 20px;
    }

    .apply-item{
      margin: 20px 0px;
      position: relative;
      padding: 30px 20px;

      &:hover, &:focus{
        box-shadow: 1px 1px 3px 4px rgba(200, 200, 200, 0.3);
        transition: 500ms all;
        border-radius: 2px;
      }
    }
  }



  .new-user-mod{
    display: block;
  }

  .old-user-mod{
    display: none;
  }

  .old-user{
    .old-user-mod{
      display: block;
    }
    .new-user-mod{
      display: none;
    }
  }
  .apply-sub-description{
    font-size: 14px;
    color: #767676;
    letter-spacing: 0;
    margin-left: 25px;
  }


}



  .apply-options{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;


    &.inItem{
      margin: 25px 0px;

    }
  }

  .apply-option{
    transition: all 500ms ease-out;
    width: calc(50% - 25px);
    margin: 0px 0px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #B8B8B8;
    position: relative;
    height: 65px;
    min-width: 225px;



    &:not(.big){
      text-align: center;
      line-height: 65px;

      &.selected{
        background-color: $darkblue;
        border: 2px solid $darkblue;

        color:#fff;
      }

      &:hover{
        border: 2px solid $darkblue;
      }
    }



    &.big{

      .apply-option-b-text{
        line-height: 1;
        position: absolute;
        top: 14px;
        left: 57px;
      }

      .apply-option-b-dot{
        width: 20px;
        height: 20px;
        left: 17px;
        border: 2px solid #B8B8B8;
        border-radius: 100%;
        position: absolute;
        top: 21px;
        box-sizing: border-box;
      }

      .apply-option-b-dot::after{
        transform: scale(0);
        transition: all 500ms ease-out;
        background-color: #8A8A8A;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 100%;
        left: -2px;
        top: -2px;
      }

      .apply-option-b-h{
          font-weight: 500;
          font-size: 18px;
          color: #272C51;
          margin-bottom: 4px;
      }

      .apply-option-b-s{
        font-weight: 500;
        font-size: 12px;
        color: #8A8A8A;
      }

      &.selected{
        border: 2px solid $darkblue;

        .apply-option-b-dot::after{
          background-color: $darkblue;
          transform: scale(1);
        }
      }

      &:hover{
        .apply-option-b-dot::after{
          background-color: $darkblue;
          transform: scale(1);
        }
      }
    }



  }

  .apply-option-hidden{
    display:none;
  }

  .isLoneWolf, .isCollege, .isHighSchool{
    display: none;
  }

  .apply-section{
    display: none;
  }
