.error-box{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 20px 40px;
  background: #ff4800;
  color: #fff;
  margin: 20px 0px;
}

.error-box-x{
  position: absolute;
  right: 30px;
  top: 26px;
  cursor: pointer;
}

.error-container{
  position: fixed;
  top: 0px;
  z-index: 999;
  padding: 0px 60px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

input.errored{
  box-shadow: 0px 0px 2px 1px #cc4242;
  border: 0px !important;
}
