

header {
  margin: 78px 0px 78px;

  position: relative;
  height: 36px;
  width: 100%;

  nav {

    display:none;
    position: absolute;
    bottom: 0px;

    &.isLeft{
      left: 350px;
    }

    &.isRight{
      right:60px;

      a:last-child{
        margin: 0px;
      }
    }

    height: 21px;

    a{
      @include useLeague();

      color: $black;
      font-size: 14px;
      display: inline;
      margin-right: 36px;
    }

  }
}
