@mixin whiteHeader(){
  color: #fff;

  .logo{
    background-image: url("/img/hackathon_brand/transparent_logo_white_by_normal.png");

    &.withText::after{
      color: #fff;
    }
  }
  nav a{
    color: #fff;

    &::after{
      background: #fff;
    }
  }
}

header {
  margin: 78px 0px;

  position: relative;
  height: 36px;
  width: 100%;

  nav {

    display:none;
    position: absolute;
    bottom: 0px;

    &.isLeft{
      left: 350px;
    }

    &.isRight{
      right:60px;

      a{
        margin: 0px;
      }
    }

    height: 21px;

    a{
      @include useLeague();

      color: $black;
      font-size: 14px;
      display: inline;
      margin-right: 36px;
    }

  }
}
