.getUpdates{
  cursor: pointer;
}

.index-HackForTheFuture{
  line-height: 96px;



}

.index-centerTwoLinesIntheMiddle{

  h4{
    width: 300px;
    margin: 118px auto 0px;
  }

  margin: 0px auto 0px;
}

.index-showUpPicture{
  margin-top: 94px;
  line-height: 60px;
}


.index-hidden-overlay{
  text-align: center;
}

.index-imageloader-overlay{
  display: flex;
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: 100%;


}


.index-imageloader-overlay::after{
  position: absolute;
  z-index: 1;
  content: "";
  background: rgba(0,0,0,.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.index-imageloader{
  cursor: pointer;
}

.index-il-image1, .index-il-image2, .index-il-image1::after, .index-il-image2::after{
  width: 50%;
  height: 100%;
  background-size: auto 120%;
  position: relative;
  background-position: center center;

}

.index-il-image1::after, .index-il-image2::after{

  position: absolute;
  z-index: 1;
  width:100%;
  transition: top 500ms, bottom 500ms;
  content: "";

}


.index-imageloader:hover{
  .index-il-image1::after{
    top:0;
  }

  .index-il-image2::after{
    bottom: 0;
  }
}


.index-il-image1{
  background-size: 100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/hackmerced/look_back_2016/9.jpg");
}

.index-il-image1::after{
  background-image: url("https://s3-us-west-1.amazonaws.com/hackmerced/look_back_2016/16.jpg");
  background-size: auto 100%;
  top: -100%;
}

.index-il-image2{
  background-image: url("https://s3-us-west-1.amazonaws.com/hackmerced/look_back_2016/2.jpg");
}

.index-il-image2::after{
  background-image: url("https://s3-us-west-1.amazonaws.com/hackmerced/look_back_2016/13.jpg");
  background-size: auto 100%;
  bottom: -100%;
}


.index-HF2{
  display: block;
  position: absolute;
  margin-top: -89px;
  background: $darkblue;
  width: 0px;
  box-sizing: border-box;
  overflow: hidden;

  *{
    white-space: nowrap;
  }
}

.APimage{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: auto;
  margin: 10px;
  position: relative;
  background-position: top center;
}

.APstats{
  position: absolute;
  top: 0px;
  z-index: 9;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
}


.withAP{
  overflow: hidden;
}



.image-shareImages{
  min-height: 1000px;
}

.withAP .content{
  width: 100%;
  height: 100%;
  background-color: $black;
  background-size: auto;
  margin: 10px;
  color: #fff;
  position: relative;
  background-position: center center;

  @include useLeague();
  font-size: 15px;

  ul{
    padding: 0px;
    margin: 0px;
  }
}


.HackMercedInPics{
  padding-top: 100px;
}

.image-shareImages .transparent-content{
  margin-top: 50px;
}

.seeFuture{
  background-image: url(https://s3-us-west-1.amazonaws.com/hackmerced/look_back_2016/12_full.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;

  .content{
    background: rgba(0,0,0,.3);
  }

  > .content{
    padding: 90px 60px !important;
  }

}


.index-fosterInnovation {

  h4{
    margin-top: 21px;
  }
  button{
    padding: 20px;
    border-radius: 2px;
    font-size: 16px;

  }

  p{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .isCentered{
    margin-left: auto;
    margin-right: auto;
  }
}
