@media screen and (max-width:1170px) {
  h2{
        font-size: 40px;
  }

  .index-il-image1 {
    background-size: auto 100%;
  }

}


@media screen and (max-width:1030px) {
  .index-il-image1 {
    background-size: 100%;
  }

  section {
    width: 100% !important;
    float: none !important;
  }

  h1{
    font-size: 48px;
  }

  h4{
    font-size: 24px;
  }

  .index-HackForTheFuture {

    > div{
      padding-top: 104px;
    }
  }

  .index-HF2{
    margin-top: -67px;
  }


  .index-imageloader{
    order:1;
  }

  .index-startHacking{
    order: 2;
  }

  .HackMercedInPics{
    padding: 0px;
  }

  .index-HackMercedinPics{
    margin-top: 0px;
    height: auto;
    padding: 100px 0px;
  }

  .ad-helix-container{
    display: none;
  }

  .sponsor-SpacedLeft{
    margin-left: 0px;
    margin-top: 30px;
  }

  .sponsor-StudentParticipants{
        height: 720px;
  }

  .sponsor-ref-logo{
    display: none;
  }

  .sponsor-ref-quote {
    margin: 0 auto;
    float: none;
    max-width: 600px;
  }

  .sponsor-rotate-image{
    margin: 0 auto;
    width:300px;

  }

  .sponsor-StudentParticipants .sponsor-smaller-content{
    text-align: center;
  }

  .section.sponsor-shippingYou{
    display: none;
  }

  .sponsor-expectedHackers{
    display: none;
  }
};


header .isLeft .getUpdates{
  display: none;
}

@media screen and (max-width:860px) {
  section .small-content{
    padding: 30px 20px;
  }

  .sponsor-StudentParticipants {
    height: 780px;
  }
  h6.infobox{
    display: block;
    height: auto;
  }
  textarea, input{
    font-size: 14px !important;
  }

  .sponsor-References{
    display: none;
  }

  h5, button, input[type='submit'], .sponsor-primaryCTA .CTA{
    font-size: 14px;
  }

  .logo.withText {
    width: 149px;
    float: none;
  }


  header .isRight .getUpdates{
    display: none;
  }

  header .isLeft .getUpdates{
    display: inline-block;
  }

  header nav a:last-of-type{
    margin: 0px;
  }

  header {
    margin: 20px 0px 80px;
  }

  .gu-content{
    padding-top: 70px;

    input{
      width:100%;
    }
  }

  .index-HF2{
    display:none;
  }



  h3 {
    font-size: 25px;
  }

  header nav.isLeft {
    left: 0px;
    width: 100%;
    top: 64px;
    left: 60px;
  }





  .index-HackMercedinPics{
    text-align: left;
  }

  body, html{
    font-size: 14px;
  }

  button.normal, input.normal[type='submit']{
    font-size: 14px;
    padding: 15px;
    min-width: 160px;
  }

  li{
    margin: 0px 10px;
  }

  .index-HF2{
    margin-top: -50px;
  }

  footer .content {
    padding: 20px 0px;
  }

  .index-HackForTheFuture{

    > div{
      padding-top: 109px;
    }
  }

  .st-options{
        display: block;
  }

  .st-selector{
    display: block;
  }

  .st-options > * {
    width: 100%;
    margin-bottom: 10px;
  }



  .sponsor-References{
    height: auto;
  }

  .sponsor-ref-text{
    margin-top:0px;
  }

  .sponsor-primaryCTA{
    display: block;
  }

  .sponsor-primaryCTA .CTA{
    margin-bottom: 20px;
    margin-left: 0px
  }

}

@media screen and (max-width:810px) {
  .index-HackForTheFuture{

    > div{
      padding-top: 76px;
    }
  }
}


@media screen and (max-width:660px) {
  .sponsor-connectTotheBestHackers{
    padding: 0px 20px;
  }

  .center.sponsor-cta-block {
    margin-bottom: 60px;
  }

  section.isFull > .content {
    padding: 20px 20px;
  }

  .index-HackForTheFuture {

    > div{
      padding-top: 127px;
    }
  }

  header nav.isLeft{
    left:20px;
  }


  .center.notext:not(.media-padded){
    padding: 0px;
  }
  .center{
    padding: 0px 20px;
  }

  .index-HackMercedinPics{
    font-size: 46px;
  }
  h3{
    font-size: 17px;
  }


  container.notext{
    h4{
      font-size: 24px;
    }
    h1{
      font-size: 48px;
    }
  }


  label{
    font-size: 14px;
  }

  input{
    font-size:16px;
    line-height: 48px;
    padding: 0px 18px;
  }

  .gu-content input[type='submit'] {
    margin-top: 18px;
    width: 150px;
    font-size: 14px;
    padding: 0px;
    height:50px;
    line-height: 50px;
    height: auto;
  }

    h1{
      font-size: 28px;
    }

    h4{
          font-size: 18px;
    }

  .gu-content form{
        margin-top: 20px;
  }

  .index-il-image1{
    width: 100%;
  }

  .index-il-image1::after{
    display: none;
  }
  .index-il-image2{
    display: none;
  }

  .gu-content{
    margin: 0px 0px;
    padding: 40px 0px;
  }

  .gu-exit{
    bottom:27px;
    top:auto;
    position: fixed;
    right: 27px;
  }


}

@media screen and (max-width:610px) {
  .index-HackForTheFuture {
    > div{
      padding-top: 79px;
    }

  }

}

@media screen and (max-width:540px) {



  .lead-with-us{
    display: none;
  }
}

@media screen and (max-width:400px) {
  .index-HackMercedinPics{
    font-size: 38px;
  }
}
